![Venn Diagram](merging1.png)

This is a venn diagram. The circle on the left is the population of students in a university. The circle on the right is the population of staff in the university. And the overlaping region in the middle is all those students who are staff, may be these students can be a part of research activity or some graded assignment.

In [1]:
#We will now see how we can use merge function or how we can merge the dataframes in order to get required information

import pandas as pd

#We will now create two dataframes one staff and other students

staff_df = pd.DataFrame([{"Name":'Amit','Role':'Marketing HOD'},
                         {'Name':'Priya','Role':'Controller of Examination'},
                        {'Name':'Mohit','Role':'Researcher'}])

staff_df = staff_df.set_index('Name')


student_df = pd.DataFrame([{'Name':'Manoj','School':'Business'},
                          {'Name':'Priya','School':'Law'},
                          {'Name':'Mohit','School':'Engineering'}])


student_df = student_df.set_index('Name')

print(staff_df)
print(student_df)

                            Role
Name
Amit               Marketing HOD
Priya  Controller of Examination
Mohit                 Researcher
            School
Name
Manoj     Business
Priya          Law
Mohit  Engineering

In [2]:
#In these two dataframe Mohit and Priya are in both student and staff.
#If we want to get an outer join after combining both the dfs, we will use merge function and use join type as outer and we will
#use left and right indices as joining column

#left_index = True and Right_index = True states that we need to consider indexes of both dfs while joinin
pd.merge(staff_df,student_df,left_index=True,right_index=True, how='outer')

                            Role       School
Name
Amit               Marketing HOD          NaN
Manoj                        NaN     Business
Mohit                 Researcher  Engineering
Priya  Controller of Examination          Law

In [3]:
#Now if we want to get intersection of these two df we will use inner join
pd.merge(staff_df,student_df,left_index=True,right_index=True, how='inner')

#By merge uses inner join

                            Role       School
Name
Priya  Controller of Examination          Law
Mohit                 Researcher  Engineering

In [4]:
#Now we want to get a list of all staff regardless of whether they're students or not. But if there were students, we'd 
#want to get their student details as well. To do this, we would use a left join. It's important to note that the order 
#of DataFrames in this function, the first DataFrame is the left DataFrame and the second is the right.

pd.merge(staff_df,student_df,how='left',left_index=True,right_index=True)

                            Role       School
Name
Amit               Marketing HOD          NaN
Priya  Controller of Examination          Law
Mohit                 Researcher  Engineering

In [5]:
#We want a list of all of the students and their roles if they are also staff. To do this, we would do a right join.

pd.merge(staff_df,student_df,how='right',left_index=True,right_index=True)

                            Role       School
Name
Manoj                        NaN     Business
Priya  Controller of Examination          Law
Mohit                 Researcher  Engineering

In [6]:
#Now we will use 'on' parameter of merge instead of left_index and right_index

staff_df = staff_df.reset_index()
student_df = student_df.reset_index()

pd.merge(staff_df,student_df,how='inner',on='Name')

    Name                       Role       School
0  Priya  Controller of Examination          Law
1  Mohit                 Researcher  Engineering

In [7]:
#We will now see merge in some more depth

staff_df = pd.DataFrame([{"Name":'Amit','Role':'Marketing HOD','Location':'Office 22'},
                         {'Name':'Priya','Role':'Controller of Examination','Location':'Office 26'},
                        {'Name':'Mohit','Role':'Researcher','Location':'Office 35'}])




student_df = pd.DataFrame([{'Name':'Manoj','School':'Business','Location':'Indra Nagar'},
                          {'Name':'Priya','School':'Law','Location':'RT Nagar'},
                          {'Name':'Mohit','School':'Engineering','Location':'Ejipura'}])

In [8]:
#The staff DataFrame, this is an office location where we can find the staff person, but for the student DataFrame, the 
#location information is actually their home address. The merge function preserves this information, but depends either 
#on underscore x or underscore y to help differentiate which index went with which column of data. The underscore x is 
#always the left DataFrame information and the underscore y is always the right DataFrame information.

#Here if we want to get details of staff members and check whether if they are students then difference in theior location

pd.merge(staff_df,student_df,how='left',on='Name')

    Name                       Role Location_x       School Location_y
0   Amit              Marketing HOD  Office 22          NaN        NaN
1  Priya  Controller of Examination  Office 26          Law   RT Nagar
2  Mohit                 Researcher  Office 35  Engineering    Ejipura

In [9]:
#We can change the suffix of the loaction if we want  

pd.merge(staff_df,student_df,suffixes=('_office','_home'), how='left',on='Name')

    Name                       Role Location_office       School Location_home
0   Amit              Marketing HOD       Office 22          NaN           NaN
1  Priya  Controller of Examination       Office 26          Law      RT Nagar
2  Mohit                 Researcher       Office 35  Engineering       Ejipura

In [10]:
#We will now talk about multi indexing and multiplt columns. 

#It is quite possible that there are chances that the there can be more than one column whose value overlap in the two dFs
#in that case we pass the list of those two columns names to the "on" parameter. 

staff_df = pd.DataFrame([{"first_name":'Amit','last_name':'Kapoor','Role':'Marketing HOD'},
                         {'first_name':'Priya','last_name':'Gupta','Role':'Controller of Examination'},
                        {'first_name':'Mohit','last_name':'Aggarwal','Role':'Researcher'}])



student_df = pd.DataFrame([{'first_name':'Manoj','last_name':'Kapoor','School':'Business'},
                          {'first_name':'Priya','last_name':'Gupta','School':'Law'},
                          {'first_name':'Mohit','last_name':'Aggarwal','School':'Engineering'}])

print(staff_df)
print(student_df)

  first_name last_name                       Role
0       Amit    Kapoor              Marketing HOD
1      Priya     Gupta  Controller of Examination
2      Mohit  Aggarwal                 Researcher
  first_name last_name       School
0      Manoj    Kapoor     Business
1      Priya     Gupta          Law
2      Mohit  Aggarwal  Engineering

In [11]:
#We will now perform inner join on the dataframes 

pd.merge(staff_df,student_df,on=['first_name','last_name'], how='inner')

  first_name last_name                       Role       School
0      Priya     Gupta  Controller of Examination          Law
1      Mohit  Aggarwal                 Researcher  Engineering

In [14]:
#If we think of merging as joining ''horizontally,'' meaning we join on similar values in a column found in two dataframes, 
#then concatenating is joining ''vertically,'' meaning we put dataframes on top or at the bottom of one another

#We will see some of the examples now 

#Let's take a look at the US Department of Education College Scorecard data. It has each US university's data on student 
#completion, student debt, after graduation income, and others. The data is stored in separate CSVs, with each CSV containing 
#a year's record. Let's say we wanted the records from 2011-2013. We create first three dataframes, each containing one year's 
#record, and because the CSV files we're working with are messy, I want to suppress some of the Jupyter warning messages 
#and just tell read_csv to ignore bad lines. So I'm going to start the cell with the cell magic, %%capture. 
#It's just to suppress output as we're loading these CSV files because there are errors in them. 



df1 = pd.read_csv('datasets/college_scorecard/MERGED2011_12_PP.csv',error_bad_lines=False)
df2 = pd.read_csv('datasets/college_scorecard/MERGED2012_13_PP.csv',error_bad_lines=False)
df3 = pd.read_csv('datasets/college_scorecard/MERGED2013_14_PP.csv',error_bad_lines=False)

b'Skipping line 309: expected 1977 fields, saw 2485\nSkipping line 514: expected 1977 fields, saw 2552\n'
b'Skipping line 615: expected 1977 fields, saw 2425\nSkipping line 922: expected 1977 fields, saw 2270\nSkipping line 1026: expected 1977 fields, saw 2199\n'
b'Skipping line 1129: expected 1977 fields, saw 2212\nSkipping line 1439: expected 1977 fields, saw 2476\nSkipping line 1543: expected 1977 fields, saw 2103\n'
b'Skipping line 1852: expected 1977 fields, saw 3023\n'
b'Skipping line 2161: expected 1977 fields, saw 2372\nSkipping line 2473: expected 1977 fields, saw 2559\n'
b'Skipping line 2576: expected 1977 fields, saw 2328\nSkipping line 2880: expected 1977 fields, saw 3153\nSkipping line 2981: expected 1977 fields, saw 2103\n'
b'Skipping line 3388: expected 1977 fields, saw 2074\nSkipping line 3489: expected 1977 fields, saw 3116\n'
b'Skipping line 3694: expected 1977 fields, saw 2135\nSkipping line 4006: expected 1977 fields, saw 2585\n'
b'Skipping line 4212: expected 1977 fields, saw 2018\nSkipping line 4312: expected 1977 fields, saw 2957\nSkipping line 4620: expected 1977 fields, saw 3152\n'
b'Skipping line 4824: expected 1977 fields, saw 3607\n'
b'Skipping line 5232: expected 1977 fields, saw 2135\nSkipping line 5435: expected 1977 fields, saw 2475\n'
b'Skipping line 5738: expected 1977 fields, saw 2177\nSkipping line 5838: expected 1977 fields, saw 2037\nSkipping line 6147: expected 1977 fields, saw 2381\n'
b'Skipping line 6352: expected 1977 fields, saw 3093\nSkipping line 6555: expected 1977 fields, saw 2635\n'
b'Skipping line 6757: expected 1977 fields, saw 2209\nSkipping line 7068: expected 1977 fields, saw 2618\n'
b'Skipping line 7577: expected 1977 fields, saw 2621\n'
b'Skipping line 7994: expected 1977 fields, saw 2133\nSkipping line 8095: expected 1977 fields, saw 2135\nSkipping line 8196: expected 1977 fields, saw 2756\n'
b'Skipping line 8501: expected 1977 fields, saw 2196\nSkipping line 8605: expected 1977 fields, saw 3014\n'
b'Skipping line 8817: expected 1977 fields, saw 2322\nSkipping line 8920: expected 1977 fields, saw 2332\nSkipping line 9121: expected 1977 fields, saw 2309\nSkipping line 9219: expected 1977 fields, saw 2423\n'
b'Skipping line 9516: expected 1977 fields, saw 2133\n'
b'Skipping line 9812: expected 1977 fields, saw 2254\nSkipping line 10013: expected 1977 fields, saw 2720\nSkipping line 10212: expected 1977 fields, saw 2202\n'
b'Skipping line 10404: expected 1977 fields, saw 2346\nSkipping line 10599: expected 1977 fields, saw 2466\n'
b'Skipping line 10898: expected 1998 fields, saw 2398\nSkipping line 10999: expected 1998 fields, saw 2548\n'
b'Skipping line 11409: expected 1998 fields, saw 2683\nSkipping line 11509: expected 1998 fields, saw 2606\nSkipping line 11819: expected 1998 fields, saw 2353\n'
b'Skipping line 12022: expected 1998 fields, saw 2103\nSkipping line 12225: expected 1998 fields, saw 2397\nSkipping line 12328: expected 1998 fields, saw 2400\n'
b'Skipping line 12642: expected 1998 fields, saw 2723\n'
b'Skipping line 12861: expected 1998 fields, saw 2097\nSkipping line 12973: expected 1998 fields, saw 2243\n'
b'Skipping line 13431: expected 1998 fields, saw 2601\n'
b'Skipping line 13904: expected 1998 fields, saw 2332\nSkipping line 14020: expected 1998 fields, saw 2865\n'
b'Skipping line 14407: expected 1998 fields, saw 3264\nSkipping line 14628: expected 1998 fields, saw 2018\n'
b'Skipping line 14939: expected 1998 fields, saw 2146\nSkipping line 15043: expected 1998 fields, saw 2848\n'

In [16]:
df1.head(2)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMAWDP8_NOTFIRSTTIME_POOLED_SUPP,OMENRUP_NOTFIRSTTIME_POOLED_SUPP,OMENRYP_FULLTIME_POOLED_SUPP,OMENRAP_FULLTIME_POOLED_SUPP,OMAWDP8_FULLTIME_POOLED_SUPP,OMENRUP_FULLTIME_POOLED_SUPP,OMENRYP_PARTTIME_POOLED_SUPP,OMENRAP_PARTTIME_POOLED_SUPP,OMAWDP8_PARTTIME_POOLED_SUPP,OMENRUP_PARTTIME_POOLED_SUPP
0,100654.0,100200.0,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100663.0,105200.0,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
print(df1.shape)
print(df2.shape)
print(df3.shape)

(15235, 1977)
(7793, 1977)
(7804, 1977)

In [19]:
print(len(df1))
print(len(df2))
print(len(df3))

15235
7793
7804

In [21]:
#We will now pass these dataframes and concatinate these into on dataframe
df_list = [df1,df2,df3]

merged_df =pd.concat(df_list)
len(merged_df)

30832

In [22]:
#we will verify whether all the dfs merged successfully or not
len(df1)+len(df2)+len(df3)

30832

In [23]:
#But there is a problem now we dont know which record belongs to which year. pd.concat has a solution to this problem,
#We will pass key parameter

merged_df = pd.concat(df_list,keys=['2011','2012','2013'])

In [24]:
#If you're concatenating two dataframes that do not have identical columns, and choose the outer methods, some cells will 
#be NaN. If you choose to do the inner, then some observations will be dropped due to NaN values. You can think this as 
#analogous to the left and right joints of the merge function.

## Grouping

The idea behind groupby is that it takes some data frame, splits it into chunks based on some key values, and then applies computation on those chunks, and then combines the result back together into another data frame. In pandas it is referred to as split-apply-combine pattern.

In [38]:
import pandas as pd
import numpy as np

In [39]:
#we will read some US census data 

df = pd.read_csv('datasets/census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [40]:
#We will only those values which have sum level of 50

df = df[df['SUMLEV']==50]
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [41]:
#Let us see the average of census population of 2010
for group,frame in df.groupby('STNAME'):
    average= np.average(frame['CENSUS2010POP'])
    print("Population of state "+ group + 
         "is " + str(average))

Population of state Alabamais 71339.34328358209
Population of state Alaskais 24490.724137931036
Population of state Arizonais 426134.4666666667
Population of state Arkansasis 38878.90666666667
Population of state Californiais 642309.5862068966
Population of state Coloradois 78581.1875
Population of state Connecticutis 446762.125
Population of state Delawareis 299311.3333333333
Population of state District of Columbiais 601723.0
Population of state Floridais 280616.5671641791
Population of state Georgiais 60928.63522012578
Population of state Hawaiiis 272060.2
Population of state Idahois 35626.86363636364
Population of state Illinoisis 125790.50980392157
Population of state Indianais 70476.10869565218
Population of state Iowais 30771.262626262625
Population of state Kansasis 27172.55238095238
Population of state Kentuckyis 36161.39166666667
Population of state Louisianais 70833.9375
Population of state Maineis 83022.5625
Population of state Marylandis 240564.66666666666
Population of state Massachusettsis 467687.78571428574
Population of state Michiganis 119080.0
Population of state Minnesotais 60964.65517241379
Population of state Mississippiis 36186.54878048781
Population of state Missouriis 52077.62608695652
Population of state Montanais 17668.125
Population of state Nebraskais 19638.075268817203
Population of state Nevadais 158855.9411764706
Population of state New Hampshireis 131647.0
Population of state New Jerseyis 418661.61904761905
Population of state New Mexicois 62399.36363636364
Population of state New Yorkis 312550.03225806454
Population of state North Carolinais 95354.83
Population of state North Dakotais 12690.396226415094
Population of state Ohiois 131096.63636363635
Population of state Oklahomais 48718.844155844155
Population of state Oregonis 106418.72222222222
Population of state Pennsylvaniais 189587.74626865672
Population of state Rhode Islandis 210513.4
Population of state South Carolinais 100551.39130434782
Population of state South Dakotais 12336.060606060606
Population of state Tennesseeis 66801.1052631579
Population of state Texasis 98998.27165354331
Population of state Utahis 95306.37931034483
Population of state Vermontis 44695.78571428572
Population of state Virginiais 60111.29323308271
Population of state Washingtonis 172424.10256410256
Population of state West Virginiais 33690.8
Population of state Wisconsinis 78985.91666666667
Population of state Wyomingis 24505.478260869564

In [42]:
#We'll create some new function called set_batch_number. If the first number of the parameter is the capital M, we'll 
#return a zero. If it's capital Q, we'll return a one. Otherwise, we'll return a two. Then we'll pass this function to 
#the DataFrame. 
df = df.set_index('STNAME')
def set_batch(item):
    if item[0]<'M':
        return 0
    if item[0] <'Q':
        return 1
    else:
        return 2

In [43]:
for group,frame in df.groupby(set_batch):
    print("There are " + str(len(frame)) +  ' records in group ' + str(group))

There are 1177 records in group 0
There are 1134 records in group 1
There are 831 records in group 2

In [44]:
#Notice i did not pass any column name to groupby(). Instead I set the index of the dataframe to SETNAME and when no identifier
#is passed to groupby it will automatically use the index as the identifier for groupby

In [45]:
#Let us read another dataset 
df = pd.read_csv('datasets/listings.csv')
df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [46]:
#In the above df we want to groupby on the basis of 2 columns one is cancellation policy and other is review scores value
#There are 2 ways to do that
#First we will set these two columns as multilevel index and we wont neet to pass columns to groupby

df.set_index(['cancellation_policy','review_scores_value'],inplace=True)

for group,level in df.groupby(level=(0,1)):
    print(group)

('flexible', 2.0)
('flexible', 4.0)
('flexible', 5.0)
('flexible', 6.0)
('flexible', 7.0)
('flexible', 8.0)
('flexible', 9.0)
('flexible', 10.0)
('moderate', 2.0)
('moderate', 4.0)
('moderate', 6.0)
('moderate', 7.0)
('moderate', 8.0)
('moderate', 9.0)
('moderate', 10.0)
('strict', 2.0)
('strict', 3.0)
('strict', 4.0)
('strict', 5.0)
('strict', 6.0)
('strict', 7.0)
('strict', 8.0)
('strict', 9.0)
('strict', 10.0)
('super_strict_30', 6.0)
('super_strict_30', 7.0)
('super_strict_30', 8.0)
('super_strict_30', 9.0)
('super_strict_30', 10.0)

In [47]:


def grouping_func(item):
    if item[1]==10.0:
        return (item[0],"10.0")
    else:
        return (item[0],"Not 10.00")
    
for group,frame in df.groupby(by=grouping_func):
    print(group)

('flexible', '10.0')
('flexible', 'Not 10.00')
('moderate', '10.0')
('moderate', 'Not 10.00')
('strict', '10.0')
('strict', 'Not 10.00')
('super_strict_30', '10.0')
('super_strict_30', 'Not 10.00')

In [48]:
#There is another method to do the same thing 
df = pd.read_csv('datasets/listings.csv')

In [49]:
df['review_scores_value']= np.where(df['review_scores_value']==10.00,'10.00','Not 10.00')
for group, label in df.groupby(by=['cancellation_policy','review_scores_value']):
    print(group)

('flexible', '10.00')
('flexible', 'Not 10.00')
('moderate', '10.00')
('moderate', 'Not 10.00')
('strict', '10.00')
('strict', 'Not 10.00')
('super_strict_30', '10.00')
('super_strict_30', 'Not 10.00')

In [50]:
#The panda's developers have three broad categories of data processing to happen during the apply step. Aggregations 
#of group data, transformation of group data, and filtration of group data

### Aggregation

In [51]:
#The apply step in split-apply-combine is the aggregation of data
#let us use our last dataset

#letus reload that again

df = pd.read_csv('datasets/listings.csv')
df.groupby('cancellation_policy').agg({'review_scores_value':np.nanmean})

#Instead of not using agg we can use the below code also to get same result
#df.groupby('cancellation_policy',as_index=False)['review_scores_value'].mean()

                     review_scores_value
cancellation_policy
flexible                        9.237421
moderate                        9.307398
strict                          9.081441
super_strict_30                 8.537313

In [52]:
#We can pass multiple number ofcolumns and multiple functions to the column we wan to aggregate 
df.groupby('cancellation_policy').agg({'review_scores_value':(np.nanmean,np.nanstd,np.nanmedian),
                                      'reviews_per_month':(np.nanmean,np.nanstd,np.nanmedian)})

                    review_scores_value                     reviews_per_month  \
                                nanmean    nanstd nanmedian           nanmean
cancellation_policy
flexible                       9.237421  1.096271      10.0          1.829210
moderate                       9.307398  0.859859       9.0          2.391922
strict                         9.081441  1.040531       9.0          1.873467
super_strict_30                8.537313  0.840785       9.0          0.340143


                       nanstd nanmedian
cancellation_policy
flexible             2.005405     1.000
moderate             2.432009     1.615
strict               1.953800     1.210
super_strict_30      0.752392     0.140

### Transaformation

In [59]:
#Transformation is different from aggregation. agg() returns a single value per category/group, transform returns an objec 
#that is the same size as the group. Essentially it broadcasts the function you supply over the grouped df, returning a new df.

transformed_df = df.groupby('cancellation_policy',as_index=False)['review_scores_value'].transform(np.nanmean)
transformed_df.rename(columns={'review_scores_value':'mean_review_scores_value'},inplace=True)
transformed_df.head()

   mean_review_scores_value
0                  9.307398
1                  9.307398
2                  9.307398
3                  9.307398
4                  9.237421

In [61]:
#We will now concatinate this to the main df or we can perform merge
df = pd.concat([df,transformed_df],axis=1)

#df.merge(transform_df,left_index=True,right_index=True)

In [62]:
df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,mean_review_scores_value
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,f,NaN,NaN,f,moderate,f,f,1,NaN,9.307398
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,f,NaN,NaN,t,moderate,f,f,1,1.30,9.307398
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,f,NaN,NaN,f,moderate,t,f,1,0.47,9.307398
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,f,NaN,NaN,f,moderate,f,f,1,1.00,9.307398
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,f,NaN,NaN,f,flexible,f,f,1,2.25,9.237421

In [63]:
#Now we will calculate the difference between the actual and mean value of review_score_value
df['difference'] = abs(df['review_scores_value']-df['mean_review_scores_value'])
df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,mean_review_scores_value,difference
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,NaN,f,moderate,f,f,1,NaN,9.307398,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,NaN,NaN,t,moderate,f,f,1,1.30,9.307398,0.307398
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,NaN,NaN,f,moderate,t,f,1,0.47,9.307398,0.692602
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,NaN,NaN,f,moderate,f,f,1,1.00,9.307398,0.692602
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,NaN,NaN,f,flexible,f,f,1,2.25,9.237421,0.762579

### Filter

In [66]:
#Group-by object is built-in support for filtering groups as well. It's often that you'll want to group by some features 
#then make some transformations to the groups, then drop certain groups as part of your cleaning routine. 
#The Filter Function takes in a function which it applies to each group data frame and returns either a true or false, 
#depending on whether that group should be included in the results.

df.groupby('cancellation_policy').filter(lambda x: np.mean(x['review_scores_value'])>9.2)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,mean_review_scores_value,difference
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,NaN,f,moderate,f,f,1,NaN,9.307398,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,NaN,NaN,t,moderate,f,f,1,1.30,9.307398,0.307398
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,NaN,NaN,f,moderate,t,f,1,0.47,9.307398,0.692602
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,NaN,NaN,f,moderate,f,f,1,1.00,9.307398,0.692602
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,NaN,NaN,f,flexible,f,f,1,2.25,9.237421,0.762579
5,12386020,https://www.airbnb.com/rooms/12386020,20160906204935,2016-09-07,Private Bedroom + Great Coffee,Super comfy bedroom plus your own bathroom in ...,Our sunny condo is located on the second and t...,Super comfy bedroom plus your own bathroom in ...,none,We love our corner of Roslindale! For quiet wa...,...,NaN,NaN,f,flexible,f,f,1,1.70,9.237421,0.762579
7,2843445,https://www.airbnb.com/rooms/2843445,20160906204935,2016-09-07,"""Tranquility"" on ""Top of the Hill""","We can accommodate guests who are gluten-free,...",We provide a bedroom and full shared bath. Ra...,"We can accommodate guests who are gluten-free,...",none,Our neighborhood is residential with friendly ...,...,NaN,NaN,f,moderate,t,t,2,2.38,9.307398,0.692602
8,753446,https://www.airbnb.com/rooms/753446,20160906204935,2016-09-07,6 miles away from downtown Boston!,Nice and cozy apartment about 6 miles away to ...,Nice and cozy apartment about 6 miles away to ...,Nice and cozy apartment about 6 miles away to ...,none,Roslindale is a primarily residential neighbor...,...,NaN,NaN,f,moderate,f,f,1,5.36,9.307398,0.692602
10,12023024,https://www.airbnb.com/rooms/12023024,20160906204935,2016-09-07,Cozy room in a well located house,The room is in a single family house located i...,NaN,The room is in a single family house located i...,none,NaN,...,NaN,NaN,f,flexible,f,f,1,0.36,9.237421,0.762579
11,1668313,https://www.airbnb.com/rooms/1668313,20160906204935,2016-09-07,Room in Rozzie-Twin Bed-Full Bath,Quiet second floor bedroom sleeps one in comfo...,NaN,Quiet second floor bedroom sleeps one in comfo...,none,Our neighborhood is quiet and relaxed. There i...,...,NaN,NaN,f,flexible,f,f,2,0.48,9.237421,0.237421
12,2684840,https://www.airbnb.com/rooms/2684840,20160906204935,2016-09-07,"Updated, spacious living in Rozzie","Clean, sunny 2 bedroom in amazing Roslindale V...",NaN,"Clean, sunny 2 bedroom in amazing Roslindale V...",none,NaN,...,NaN,NaN,t,flexible,f,f,2,0.64,9.237421,0.762579
13,13547301,https://www.airbnb.com/rooms/13547301,20160906204935,2016-09-07,2 Bedroom Apartment in Boston,My place is close to Public Transportation. Th...,NaN,My place is close to Public Transportation. Th...,none,NaN,...,NaN,NaN,f,moderate,f,f,1,4.93,9.307398,0.692602
14,5434353,https://www.airbnb.com/rooms/5434353,20160906204935,2016-09-07,Quiet Beauty in Boston,Enjoy the full space of our home as you explor...,Large living and dining area. Sprawling space....,Enjoy the full space of our home as you explor...,none,"Quiet Roslindale, close to the trendy Jamaica ...",...,NaN,NaN,f,moderate,f,f,1,0.56,9.307398,0.307398
16,3420384,https://www.airbnb.com/rooms/3420384,20160906204935,2016-09-07,"Convient, Safe and Comfortable",Located along public transportation with plent...,"Extra large studio with wifi, cable, original ...",Located along public transportation with plent...,none,"Village 1 mile with banks, grocery store, spec...",...,NaN,NaN,f,flexible,f,f,1,1.00,9.237421,0.762579
17,13512930,https://www.airbnb.com/rooms/13512930,20160906204935,2016-09-07,Roslindale Beauty next to Arboretum,"Clean, sunny 1 bedroom in amazing Roslindale V...",NaN,"Clean, sunny 1 bedroom in amazing Roslindale V...",none,NaN,...,NaN,NaN,t,flexible,f,f,2,0.37,9.237421,0.762579
20,2583074,https://www.airbnb.com/rooms/2583074,20160906204935,2016-09-07,Cozy room in a charming villa.,"My home is a villa in one of the friendliest, ...",The room is cozy and private. The house is les...,"My home is a villa in one of the friendliest, ...",none,"This a nice multicultural, family neighborhood...",...,NaN,NaN,f,flexible,f,f,3,1.24,9.237421,0.762579
21,13251243,https://www.airbnb.com/rooms/13251243,20160906204935,2016-09-07,Arborside Guest Cottage,Lovely sun-filled private guest cottage set on...,"Today the cottage could be called a ""tiny hous...",Lovely sun-filled private guest cottage set on...,none,This Boston location is true gem - just a few ...,...,NaN,NaN,t,moderate,f,f,1,5.93,9.307398,0.692602
23,6400432,https://www.airbnb.com/rooms/6400432,20160906204935,2016-09-07,Spacious 3 bedroom cape cod style,Three bedroom in Boston's Roslindale neighborh...,This Cape Cod style home features two bedrooms...,Three bedroom in Boston's Roslindale neighborh...,none,NaN,...,NaN,NaN,f,flexible,f,f,1,1.58,9.237421,0.762579
24,5498472,https://www.airbnb.com/rooms/5498472,20160906204935,2016-09-07,"4BD/3.5BA, Perfect for families!","Our spacious, modern, immaculate town home is ...","Our 2,400+ square foot home is a hidden gem, t...","Our spacious, modern, immaculate town home is ...",none,"Roslindale is a quiet and family friendly, yet...",...,NaN,NaN,f,moderate,f,f,1,0.07,9.307398,0.692602
25,894539,https://www.airbnb.com/rooms/894539,20160906204935,2016-09-07,Private room in house,NaN,Large private room in a large house near the A...,Large private room in a large house near the A...,none,NaN,...,NaN,NaN,f,moderate,f,f,2,1.13,9.307398,0.692602
27,9218312,https://www.airbnb.com/rooms/9218312,20160906204935,2016-09-07,Sunny bedroom with private bathroom,"Located in the Peter's Hill neighborhood, rest...","Large sunny bedroom with double bed, love seat...","Located in the Peter's Hill neighborhood, rest...",none,We have lived in Roslindale since 1985 and hav...,...,NaN,NaN,f,moderate,f,f,1,4.02,9.307398,0.692602
28,321328,https://www.airbnb.com/rooms/321328,20160906204935,2016-09-07,Bright Room Near Roslindale Village,NaN,I have an attractive room available in Roslind...,I have an attractive room available in Roslind...,none,"Roslindale is a vibrant area of Boston, with r...",...,NaN,NaN,f,flexible,f,f,1,0.21,9.237421,0.237421
29,1810172,https://www.airbnb.com/rooms/1810172,20160906204935,2016-09-07,Room for 2 in Rozzie - Full Bath,This second floor bedroom sleeps two in a quee...,NaN,This second floor bedroom sleeps two in a quee...,none,Our neighborhood is quiet and relaxed. There i...,...,NaN,NaN,f,flexible,f,f,2,0.58,9.237421,0.762579
30,6513924,https://www.airbnb.com/rooms/6513924,20160906204935,2016-09-07,Private room in spacious condo!,Nice unit located within walking distance of c...,"Spacious, modern construction condo with plent...",Nice unit located within walking distance of c...,none,"Today's Roslindale is not the ""Rozzie"" of my y...",...,NaN,NaN,f,flexible,f,f,1,1.93,9.237421,0.237421
32,14690527,https://www.airbnb.com/rooms/14690527,20160906204935,2016-09-07,1 Bedroom Home Suite Home,"My place is good for couples, solo adventurers...",NaN,"My place is good for couples, solo adventurers...",none,NaN,...,NaN,NaN,t,flexible,f,f,1,NaN,9.237421,NaN
34,1861070,https://www.airbnb.com/rooms/1861070,20160906204935,2016-09-07,Charming Gambrel on a sweet street,This home has been featured in several magazin...,"This beautiful house, filled with a lifetime o...",This home has been featured in several magazin...,none,Our home is located on the top of one of the t...,...,NaN,NaN,f,flexible,f,f,1,0.59,9.237421,0.762579
39,4085362,https://www.airbnb.com/rooms/4085362,20160906204935,2016-09-07,"""Room with a View"" from ""Top of the Hill""","We used to be called Sub""urban"" Vacationing. ...",We provide a bedroom and a full shared bath fo...,"We used to be called Sub""urban"" Vacationing. ...",none,Roslindale is one of the neighborhoods of Bost...,...,NaN,NaN,f,moderate,t,t,2,0.87,9.307398,0.692602
40,3755609,https://www.airbnb.com/rooms/3755609,20160906204935,2016-09-07,Lovely & Gracious Victorian room,Lovely & Gracious Victorian room offers the be...,"The room is lovely, sunny, decorated with auth...",Lovely & Gracious Victorian room offers the be...,none,Today's residents of Roslindale are attracted...,...,NaN,NaN,t,flexible,f,f,1,0.87,9.237421,0.237421
41,13768853,https://www.airbnb.com/rooms/13768853,20160906204935,2016-09-07,"Cozy, quiet room in Roslindale",If you're looking for a quiet place in a resid...,NaN,If you're looking for a quiet place in a resid...,none,NaN,...,NaN,NaN,f,flexible,f,f,1,5.77,9.237421,0.762579
42,1936861,https://www.airbnb.com/rooms/1936861,20160906204935,2016-09-07,Private Room in Rozzie,Private room with twin bed. Walking distance t...,"Simple, private space with a surprising amount...",Private room with twin bed. Walking distance t...,none,BE ADVISED: This is a super fun neighborhood i...,...,NaN,NaN,f,flexible,f,f,1,4.39,9.237421,0.762579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3533,6373729,https://www.airbnb.com/rooms/6373729,20160906204935,2016-09-07,"American Vintage room, 2+ peeps ok",This is a classic American vintage house that ...,"Due to the age of this house, the heat system ...",This is a classic American vintage house that ...,none,"Nice, quiet and safe! Nothing happened to me ...",...,NaN,NaN,f,flexible,f,f,1,0.07,9.237421,1.237421
3534,8921130,https://www.airbnb.com/rooms/8921130,20160906204935,2016-09-07,"Beautiful, Modern, Furnished Apt!","This is a beautiful apt, equipped with new app...",NaN,"This is a beautiful apt, equipped with new app...",none,"Located right on the Brookline/Allston border,...",...,NaN,NaN,f,flexible,f,f,1,0.26,9.237421,0.762579
3535,10436811,https://www.airbnb.com/rooms/10436811,20160906204935,2016-09-07,"Bright, Clean & Great Location",Hello! I share the apparent with two good frie...,"My room is a private bedroom, with its own loc...",Hello! I share the apparent with two good frie...,none,The apartment is conveniently located in Allst...,...,NaN,NaN,t,flexible,f,f,1,NaN,9.237421,NaN
3536,14026059,https://www.airbnb.com/rooms/14026059,20160906204935,2016-09-07,Large room near hospitals,My place is ideal for physicians and researche...,The bathroom would be shared with one other in...,My place is ideal for physicians and researche...,none,NaN,...,NaN,NaN,f,moderate,f,f,1,NaN,9.307398,NaN
3539,4332035,https://www.airbnb.com/rooms/4332035,20160906204935,2016-09-07,Lux Brookline 1BR w/ gym & WiFi,This property is a newly renovated 3 story ele...,"Our beautiful apartments feature bay windows, ...",This property is a newly renovated 3 story ele...,none,"Living at this address, residents will enjoy t...",...,NaN,NaN,f,moderate,f,t,61,0.05,9.307398,NaN
3540,9807292,https://www.airbnb.com/rooms/9807292,20160906204935,2016-09-07,Lux Brookline 2BR w/ gym & WiFi,This property is a newly renovated 3 story ele...,"Our beautiful apartments feature bay windows, ...",This property is a newly renovated 3 story ele...,none,"Living at this address, residents will enjoy t...",...,NaN,NaN,f,moderate,f,t,61,NaN,9.307398,NaN
3543,14866400,https://www.airbnb.com/rooms/14866400,20160906204935,2016-09-07,"Cozy room, clean,luxury,next to T","My place is close to Sullivan T Station, Assem...",NaN,"My place is close to Sullivan T Station, Assem...",none,NaN,...,NaN,NaN,t,flexible,f,f,1,NaN,9.237421,NaN
3545,14400847,https://www.airbnb.com/rooms/14400847,20160906204935,2016-09-07,"Quiet, charming and convenient",This quiet and appealing 3rd floor apartment i...,NaN,This quiet and appealing 3rd floor apartment i...,none,The apartment offers a peaceful place to sleep...,...,NaN,NaN,f,flexible,f,f,1,2.00,9.237421,0.762579
3548,14774426,https://www.airbnb.com/rooms/14774426,20160906204935,2016-09-07,Somerillve comfort room,我的房源靠近It's very close to the subway station. ...,NaN,我的房源靠近It's very close to the subway station. ...,none,NaN,...,NaN,NaN,f,moderate,f,f,1,1.00,9.307398,0.692602
3549,14487346,https://www.airbnb.com/rooms/14487346,20160906204935,2016-09-07,Comfort Private Room Close to T & BOSTON_#3C,"My place is good for couples, solo adventurers...",Modern and clean furnished private room for re...,"My place is good for couples, solo adventurers...",none,NaN,...,NaN,NaN,t,flexible,f,f,1,NaN,9.237421,NaN
3550,14550228,https://www.airbnb.com/rooms/14550228,20160906204935,2016-09-07,Beautiful Room near MIT and Harvard,Private room in top floor of a high-rise. Clos...,Top floor of a high-rise right next to the Cha...,Private room in top floor of a high-rise. Clos...,none,"Diverse, friendly and beautiful neighborhood. ...",...,NaN,NaN,f,flexible,f,f,1,NaN,9.237421,NaN
3551,14566657,https://www.airbnb.com/rooms/14566657,20160906204935,2016-09-07,Modern Loft North Point,Enjoy a great stay in East Cambridge ( North P...,NaN,Enjoy a great stay in East Cambridge ( North P...,none,NaN,...,NaN,NaN,t,moderate,f,f,2,1.00,9.307398,3.307398
3552,14773792,https://www.airbnb.com/rooms/14773792,20160906204935,2016-09-07,(N) Shared room near Harvard & MIT,This bed accommodates 2 and is a shared room w...,To ensure a smooth check in: 1. You MUST have ...,This bed accommodates 2 and is a shared room w...,none,NaN,...,NaN,NaN,t,flexible,f,f,3,NaN,9.237421,NaN
3554,14533848,https://www.airbnb.com/rooms/14533848,20160906204935,2016-09-07,2 bedrooms available in 4 bed unit,"2 bedrooms, 1 with King bed and other with 2 s...",NaN,"2 bedrooms, 1 with King bed and other with 2 s...",none,NaN,...,NaN,NaN,f,flexible,f,f,1,2.00,9.237421,0.762579
3555,13015653,https://www.airbnb.com/rooms/13015653,20160906204935,2016-09-07,Big Room at Brookline Hill in Boston,The private room is big enough. My place is 5 ...,Your private room is big enough. And the livin...,The private room is big enough. My place is 5 ...,none,NaN,...,NaN,NaN,f,moderate,f,f,1,4.00,9.307398,0.307398
3557,14604429,https://www.airbnb.com/rooms/14604429,20160906204935,2016-09-07,Bedroom in to Allston/Brookline area for rent,"My place is close to BU, Brookline (Coolidge C...",NaN,"My place is close to BU, Brookline (Coolidge C...",none,NaN,...,NaN,NaN,f,flexible,f,f,1,NaN,9.237421,NaN
3559,12915510,https://www.airbnb.com/rooms/12915510,20160906204935,2016-09-07,It's always more fun on the water,Our boat is used as a live-aboard and has more...,This 1965 Hatteras 50 foot motor-yacht was ful...,Our boat is used as a live-aboard and has more...,none,Charlestown Marina is newly renovated and has ...,...,NaN,NaN,f,moderate,f,f,1,1.28,9.307398,0.692602
3562,14881840,https://www.airbnb.com/rooms/14881840,20160906204935,2016-09-07,Modern hot spot studio,Modern cozy apartment with amazing location ri...,Super accessible to every outlet of the city,Modern cozy apartment with amazing location ri...,none,Super nice dining options within arms reach le...,...,NaN,NaN,f,flexible,f,f,1,NaN,9.237421,NaN
3563,11452297,https://www.airbnb.com/rooms/11452297,20160906204935,2016-09-07,2bed/2bath apt. 3 miles from Boston,Newly renovated apartment available: - Updated...,Spacious first floor unit with private porch i...,Newly renovated apartment available: - Updated...,none,"Located on a quiet tree lined street, just a s...",...,NaN,NaN,f,moderate,f,f,1,NaN,9.307398,NaN
3565,14335003,https://www.airbnb.com/rooms/14335003,20160906204935,2016-09-07,On Charles River near Harvard Square,"My place is a block from the Charles River, a ...",NaN,"My place is a block from the Charles River, a ...",none,NaN,...,NaN,NaN,t,flexible,f,f,1,1.00,9.237421,0.762579
3566,14871445,https://www.airbnb.com/rooms/14871445,20160906204935,2016-09-07,Private Room with half bathroom inside near Su...,"My place is good for couples, solo adventurers...",NaN,"My place is good for couples, solo adventurers...",none,NaN,...,NaN,NaN,f,flexible,f,f,1,NaN,9.237421,NaN
3569,14426586,https://www.airbnb.com/rooms/14426586,20160906204935,2016-09-07,Condo for 4 close to Boston,1 private BR w/ full size bed and bath + a que...,NaN,1 private BR w/ full size bed and bath + a que...,none,NaN,...,NaN,NaN,f,flexible,f,f,1,NaN,9.237421,NaN
3571,14592547,https://www.airbnb.com/rooms/14592547,20160906204935,2016-09-07,Private Room Boston/Brookline Great location,"My place is close to 4Acoffee, Starbucks, Harr...",Its a small room but cozy and comfortable. Per...,"My place is close to 4Acoffee, Starbucks, Harr...",none,We live in one of Boston's favorite neighborho...,...,NaN,NaN,f,flexible,f,f,1,2.00,9.237421,0.762579
3573,14504583,https://www.airbnb.com/rooms/14504583,20160906204935,2016-09-07,(J1) Private Room near Harvard/MIT,My place is close to My home is a warm and fri...,To ensure a smooth check in: 1. You MUST have ...,My place is close to My home is a warm and fri...,none,NaN,...,NaN,NaN,t,flexible,f,f,3,2.00,9.237421,0.762579
3574,14743129,https://www.airbnb.com/rooms/14743129,20160906204935,2016-09-07,Hancock Village rent out one room,"我的房源走路2 minutes有shopping mall,包括CVS,restuarant...",NaN,"我的房源走路2 minutes有shopping mall,包括CVS,restuarant...",none,"走路2 minutes有shopping mall,包括CVS,restuarant,ban...",...,NaN,NaN,f,moderate,f,f,2,1.00,9.307398,1.307398
3576,14689681,https://www.airbnb.com/rooms/14689681,20160906204935,2016-09-07,Beautiful loft style bedroom with large bathroom,You'd be living on the top floor of a four sto...,NaN,You'd be living on the top floor of a four sto...,none,NaN,...,NaN,NaN,f,flexible,f,f,1,NaN,9.237421,NaN
3577,13750763,https://www.airbnb.com/rooms/13750763,20160906204935,2016-09-07,Comfortable Space in the Heart of Brookline,"Our place is close to Coolidge Corner, Allston...",This space consists of 2 Rooms and a private b...,"Our place is close to Coolidge Corner, Allston...",none,Brookline is known for being an excellent and ...,...,NaN,NaN,f,flexible,f,f,1,NaN,9.237421,NaN
3579,14852179,https://www.airbnb.com/rooms/14852179,20160906204935,2016-09-07,Spacious Queen Bed Room Close to Boston Univer...,- Grocery: A full-size Star market is 2 minute...,NaN,- Grocery: A full-size Star market is 2 minute...,none,NaN,...,NaN,NaN,f,flexible,f,f,1,NaN,9.237421,NaN
3582,14585486,https://www.airbnb.com/rooms/14585486,20160906204935,2016-09-07,Gorgeous funky apartment,Funky little apartment close to public transpo...,Modern and relaxed space with many facilities ...,Funky little apartment close to public transpo...,none,"Cambridge is a short walk into Boston, and set...",...,NaN,NaN,f,flexible,f,f,1,NaN,9.237421,NaN

### Apply

In [67]:
# the most common operation I invoke on Group-by objects is the Apply function. This allows you to apply an arbitrary 
#function to each group and stitched the results back together for each apply into a single data frame where the index 
#is preserved.

#lets get the clean copy of the dataframe
df = pd.read_csv('datasets/listings.csv')
df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [68]:
#We will just use two columns
df = df[['cancellation_policy','review_scores_value']]
df.head()

  cancellation_policy  review_scores_value
0            moderate                  NaN
1            moderate                  9.0
2            moderate                 10.0
3            moderate                 10.0
4            flexible                 10.0

In [70]:
#Now whatever we did in the last process we are going to do that again but with apply funciton 
def cal_review_scores(group):
    # group is a data frame just of whatever we've grouped, in this case the cancellation policy. So we can treat this 
    #as the complete data frame that we're operating on
    average = np.nanmean(group['review_scores_value'])
    group['mean_average_review_score'] = abs(average-group['review_scores_value'])
    return group

df.groupby('cancellation_policy').apply(cal_review_scores).head()

  cancellation_policy  review_scores_value  mean_average_review_score
0            moderate                  NaN                        NaN
1            moderate                  9.0                   0.307398
2            moderate                 10.0                   0.692602
3            moderate                 10.0                   0.692602
4            flexible                 10.0                   0.762579